FORMAT: 1A
HOST: http://www.google.com

# TeamMachine
Team Machine

# Group Projects
Notes related resources of the **Projects API**


## TeamMachine API [/]
The API Entry point - Main node;
No attributes - only root API affordances

### Affordances
+ 'show' ('self') ... API entry point
+ 'folders' ... Lists all folders

### Retrieve API Root [GET]
+ Response 200 (application/json)

        {
            "folders": {"href": "/folders"}
        }


## Projects [/projects/{id}]
Where all the uncool projects are.

### Attributes
+ 'id' ... ID of the project, server assigned
+ 'projName' ... Name of the project
+ 'subName' ... Tag line for the project
+ 'description' ... Description of the project
+ 'meta' ... Catch all


###Affordances
+ 'show' ('self') ... A single project
+ 'edit' ... Update or delete a project

+ Parameters
    + id (optional, int, 1) ... Unique project ID in integer
    
+ Model (application/json)

        [
            {
                "id": 1,
                "title": "LaserCannons",
                "description":"It will be large and destructive",
                "compentencies":["lasers","cannons"]
            },{
                "id": 2, 
                "title": "HelpingKittens",
                "description":"Its kittens!",
                "compentencies":["kittens","helping"]
            }
        ]

            

### List all Projects [GET]
+ Response 200 (application/json)

        [
            {
                "id": 1,
                "title": "LaserCannons",
                "description":"It will be large and destructive",
                "compentencies":["lasers","cannons"]
            },{
                "id": 2, 
                "title": "HelpingKittens",
                "description":"Its kittens!",
                "compentencies":["kittens","helping"]
            }
        ]

### Create a Project [POST]
+ Request (application/json)

        { 
            "title": "Buy cheese and bread for breakfast." }

+ Response 201 (application/json)

        { "id": 3, "title": "Buy cheese and bread for breakfast." }

