FORMAT: 1A
HOST: http://www.google.com

# TeamMachine
Team Machine

# Group Projects
Notes related resources of the **Projects API**


## TeamMachine API [/]
The API Entry point - Main node;
No attributes - only root API affordances

### Affordances
+ 'show' ('self') ... API entry point
+ 'folders' ... Lists all folders

### Retrieve API Root [GET]
+ Response 200 (application/json)

        {
            "folders": {"href": "/folders"}
        }


## Projects Collection [/projects]
Where all the cool projects are.
### List all Projects [GET]
+ Response 200 (application/json)

        [
            {
                "id": 1,
                "title": "LaserCannons",
                "description":"It will be large and destructive",
                "compentencies":["lasers","cannons"]
            },{
                "id": 2, 
                "title": "HelpingKittens",
                "description":"Its kittens!",
                "compentencies":["kittens","helping"]
            }
        ]

### Create a Project [POST]
+ Request (application/json)

        { 
            "title": "Buy cheese and bread for breakfast." }

+ Response 201 (application/json)

        { "id": 3, "title": "Buy cheese and bread for breakfast." }



## Project Identifier [/projects/{id}]
A single Project object with all its details

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Note to perform action with. Has example value.

### Retrieve a single Folder [GET]
+ Response 200 (application/json)


### Remove a Note [DELETE]
+ Response 204
